<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1020020020824-t83ga34vgvl0prk9sh5m3nera8i635pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020020020824-t83ga34vgvl0prk9sh5m3nera8i635pv</string>
	<key>API_KEY</key>
	<string>AIzaSyBt9CKMWR5E_B_vCrz92jtUhN39IHPib4U</string>
	<key>GCM_SENDER_ID</key>
	<string>1020020020824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.water.geoMessenger</string>
	<key>PROJECT_ID</key>
	<string>geomessenger-1b49f</string>
	<key>STORAGE_BUCKET</key>
	<string>geomessenger-1b49f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020020020824:ios:4f29f5e1c6fe208f</string>
	<key>DATABASE_URL</key>
	<string>https://geomessenger-1b49f.firebaseio.com</string>
</dict>
</plist>